.contac {
  padding: 45px 40px 0;
  text-align: center;
  background-color: @white;
}

.contac__title {
  margin: 0 auto 10px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @dark-table;
}

.contac__contacts-list {
  list-style: none;
  padding: 35px 0 40px;
}

.contacts-list__item {
  margin-bottom: 55px;
}

.contacts-list__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: @dark-table;
  margin: 0 auto 15px;
}

.contacts-list__item-description {
  margin: 0;
}

.contacts-list__item-link {
  text-decoration: none;
  margin: 0;
  color: @pink;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

.contacts-list__item-address {
  color: @pink;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  font-style: normal;
}
