.features {
  margin-top: -20px;
  background-image: url("../img/grey- background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 20px 0;
  background-position: top;
  box-sizing: border-box;
}

.features__item-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 0 auto 20px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item-text {
  font-weight: 400;
  text-align: center;
  margin: 0 auto 40px;
}

.features__item-img {
  width: 155px;
  height: 280px;
  margin-bottom: -40px;
}

.features__item-img-box {
  overflow: hidden;
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
