.page-footer {
  padding: 40px 75px;
  box-sizing: border-box;
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 35px 20px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 130px 75px;
  }
}

.page-footer__content-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__copyright-text {
  color: @dark-table;
  line-height: 18px;
  font-weight: 400;
  margin-right: 15px;
}

.page-footer__copyright-icon {
  fill: currentColor;
}

.page-footer__copyright-link {
  display: block;
  color: @pink;

  &:hover {
    color: @dark-table;
  }

  &:active {
    color: @gray-dark;
  }
}
