.page-footer {
  padding: 40px 75px;
  box-sizing: border-box;
  background-color: @white;
  margin-top: -10px;
}

.page-footer__copyright-text {
  color: @dark-table;
  line-height: 18px;
  font-weight: 400;
}
