.page-contest__title-wrapper {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: image-size("../img/back-mobile.jpg");
  padding: 100px 45px 75px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: image-size("../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-tablet.jpg");
    background-size: image-size("../img/back-tablet.jpg");
    padding: 180px 45px 80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: image-size("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    background-size: image-size("../img/back-desktop.jpg");
    padding: 185px 200px 105px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: image-size("../img/back-desktop@2x.jpg");
    }
  }
}

.page-contest__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 69px;
  }
}

.page-contest__promo {
  background-color: @white;
  padding: 55px 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: @dark-table;

  @media (min-width: @tablet-width) {
    padding: 100px 70px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 220px;
  }
}
