.photo {
  margin: 0 auto 20px;

  @media (min-width: @tablet-width) {
    margin: 0 0 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 55px;
  }
}

.photo__link {
  display: block;
  overflow: hidden;
  width: 280px;
  height: 180px;
  text-decoration: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
  }

  &--wide {
    width: 320px;
    height: 137px;
    text-decoration: none;
    position: relative;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 660px;
      height: 509px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      height: 506px;
    }

    &::before {
      content: attr(data-panorama-text);
      position: absolute;
      z-index: 10;
      top: 0;
      right: 20px;
      padding: 6px 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      background-color: @pink;
      color: @white;

      @media (min-width: @tablet-width) {
        top: 56px;
        right: 40px;
      }

      @media (min-width: @desktop-width) {
        top: 54px;
        right: 130px;
      }
    }
  }
}

.photo__content {
  background-color: @grey;
  width: 280px;
  padding: 25px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--wide {
    @media (min-width: @tablet-width) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 30px;
      width: 620px;
    }

    @media (min-width: @desktop-width) {
      width: 940px;
    }
  }
}

.photo__author {
  margin: 0 auto 15px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.photo__author-name {
  font-weight: 700;
  color: @dark-table;
}

.photo__date {
  font-weight: 300;
  font-size: 12px;
  color: @dark-table;
  text-transform: uppercase;
}

.photo__text {
  font-weight: 400;
  color: @dark-table;
  margin: 0 auto 25px;

  @media (min-width: @tablet-width) {
    margin: 0 auto 10px;
  }

  &--wide {
    @media (min-width: @tablet-width) {
      order: 2;
    }
  }
}

.photo__likes {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    width: auto;
  }

  &--wide {
    @media (min-width: @tablet-width) {
      width: 120px;
    }
  }
}

.photo__like-count {
  text-align: right;
  color: @pink;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.photo__like-button {
  display: block;
  padding: 0;
  width: 13px;
  height: 12px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
