.price {
  background-color: @grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% 25px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 105px 0 45px;
  box-sizing: border-box;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding: 110px 20px 60px;
    background-size: 100% 50px;
    margin: 0 auto 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 170px 10px 90px;
    background-size: 100% 130px;
    margin: 0 auto 65px;
  }
}

.price__slider {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
}

.price__controls {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
