.price {
  background-image: url("../img/grey-background-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  padding: 160px 20px 50px;
  box-sizing: border-box;
}

.price__slider {
  margin: 0 auto 45px;
}
