.slider-reviews {
  background-color: @white;
  width: @mobile-width;
}

.slider-reviews__slide {
  padding: 50px 20px 45px;
  background-color: @white;
}

.slide__author {
  margin: 0 auto 30px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.slide__quote {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;
}
