/*width*/

@mobile-width: 320px;
@mobile-width-only: 659px;
@tablet-width: 660px;
@desktop-width: 1200px;


/*color-dg_color*/
@bg-color-body: @white;
@bg-color-header: fade(#000000, 30%);
@bg-color-dark: fade(#000000, 60%);
@bg-color-light: fade(#000000, 10%);
@font-color-base: @dark-blue;
@modal-shadow: rgba(0, 1, 1, 0.15);
@nav-shadow: rgba(255, 255, 255, 0.15);
/*Color*/

@black: #000000;
@dark-blue: #1D2631;
@white: #ffffff;
@dark-table: #283645;
@light-grey: #E5E5E5;
@pink: #D22856;
@grey: #F2F2F2;
@green: #2AAB6D;
@light-dark: rgba(40,	54,	69, 0.1);
@dark-pink: rgba(210,	40,	86, 0.3);

/*Font*/
@font-family-base: "Open Sans", "Arial", sans-serif;
@font-size-base: 14px;
@line-height-base: 24px;
